layout {

    focus-ring {
        active-color   "#a9caeb"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a9caeb"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a9caeb"
        inactive-color "#244560"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a9caeb80"
    }
}

recent-windows {
    highlight {
        active-color "#a9caeb"
        urgent-color "#ffb4ab"
    }
}
